server:
  port: 9040

spring:
  application:
    name: "ServicioFacturacion"
    
  config:
    import: consul:localhost:8500   

  cloud:
    consul:
      host: localhost
      port: 8500
      config:
        enabled: true
        fail-fast: true
        format: YAML      
      discovery:
        instanceId: ${spring.application.name}:${random.value}
       
    #SPRING CLOUD STREAM:
    #Si solo tenemos un supplier, o un consumer o una function no hace falta registrarlos     
    function:
      definition: oyenteOrdenesCompra

    stream:
      bindings:
        oyenteOrdenesCompra-in-0.destination: cola-pedidos

  rabbitmq:
     host: localhost
     port: 5672
     username: guest
     password: guest
